name: Java CI with Gradle

on: [ push, pull_request ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Start SUT Delivery
        run: java -jar ./artifacts/app-replan-delivery.jar &

      - name: Build with Gradle
        run: ./gradlew test --tests "deliveeryservice.*" --info -Dselenide.headless=true

      - name: Stop Delivery Service
        run: pkill -f app-replan-delivery || true

      - name: Start SUT BankAPI
        run: java -jar ./artifacts/app-ibank.jar -P:profile=test &

      - name: Build with Gradle
        run: ./gradlew test --tests "bank.*" --info -Dselenide.headless=true 